body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  display:flex;
}
#u426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:180px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:371px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:414px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u433 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:105px;
  width:67px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:180px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u435 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:63px;
  width:135px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
