body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  display:flex;
}
#u353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:973px;
  height:884px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u355 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:844px;
  width:220px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u356 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:0px;
  width:59px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u357 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:143px;
  width:139px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
