body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  display:flex;
}
#u419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u421 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:392px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u422 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:232px;
  width:51px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u423 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:463px;
  width:1196px;
  height:241px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:371px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:414px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:180px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:180px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
