body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1010px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1010px;
  display:flex;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:167px;
  width:96px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u205 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:167px;
  width:102px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u206 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:167px;
  width:88px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:180px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:371px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:414px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:107px;
  width:69px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u214 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:891px;
  width:114px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u215 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:167px;
  width:93px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:180px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u217 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:63px;
  width:135px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
