body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1010px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:1440px;
  height:1010px;
  display:flex;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:581px;
  width:154px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u479 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:411px;
  width:62px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
