body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1010px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1010px;
  display:flex;
}
#u162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:167px;
  width:93px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u164 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:167px;
  width:102px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u165 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:167px;
  width:88px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u166 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:221px;
  width:118px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:273px;
  width:73px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:505px;
  width:73px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:650px;
  width:73px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:733px;
  width:49px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u171 {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:862px;
  width:49px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:180px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:371px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:414px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:180px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u178 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:107px;
  width:69px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u179 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:931px;
  width:107px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u180 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:167px;
  width:96px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:180px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
